
{% extends 'lms/base.html' %}

{% block content %}

          <div class="container">
               <div class="row">
                    <div class="col-md-offset-3 col-md-6 col-sm-12">
                        <div class="home-info">
                            <form action="" method="POST" > {% csrf_token %}
                                <a style="color:white;text-align: left;font-size:28px;">Edit book:</a> <br>
                                <div style="display:flex; flex-direction: row">
                                    <label class="form-group col-md-4" style="text-align: left; color: white;">{{ form.BookInstanceID.label}}</label>
                                    <label class="form-group col-md-8" style="text-align: left; color: white;">{{ BookInstanceID }}</label>
                                </div>
                                <div style="display:none;">
                                    {{form.BookID}}
                                    {{form.BookInstanceID}}
                                </div>
                                <div style="display:flex; flex-direction: row">
                                    <label class="form-group col-md-4" style="text-align: left; color: white;">{{ form.Status.label}}</label>
                                    {{form.Status}}
                                </div>
                                <input type="text" name="action" id="action" style="display:none;" value ="submit" >
                                <input type="text" name="BookInstanceID" id="BookInstanceID" style="display:none;" value = {{ BookInstanceID }} >
                                <button type="submit" class="form-control" id="submit"> Submit </button>
                            </form>
                        </div>
                    </div>
               </div>
          </div>

{% endblock %}

