
{% extends 'lms/base.html' %}

{% block content %}


          <div class="container">
              <div class="col-md-offset-3 col-md-6 col-sm-12">
                <h1>Search here</h1>
                              <div>
                                <form action="/lms/search_result/" method="POST" class="online-form"> {% csrf_token %}
                                    <input type="text" name="search" id="search" class="form-control" placeholder="Title, Author, Publisher" required>
                                    <button type="submit" class="form-control">Search</button>
                                </form>
                              </div>
                  </div>
          </div>


{% endblock %}


